ion-card {
    padding: 18px;
    background: #ceeff9;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 0px 0px, rgb(0 0 0 / 14%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 0px 0px 0px;
}

ion-title {
    text-align: center;
    color: white;
    font-weight: bold;
    text-align: center;
}

// p {
//     text-align: center;
//     padding: 18px;
//     background: #ceeff9;
//     font-size: 26px;
//     text-transform: uppercase;
//     margin-top: 13px;
// }
ion-toolbar {
    // --background: #431d12;
    --background: #431d12;
}