<!-- <ion-header>
    <ion-toolbar>
        <ion-title>QBEE</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col size="12" routerLink="/">
            <ion-card>
                <img src="./assets/images/Shopping.jpg" alt="">
            </ion-card>
        </ion-col>
        <ion-col size="12" routerLink="/">
            <ion-card>
                <img src="./assets/images/services.jpg" alt="">
            </ion-card>
        </ion-col>

    </ion-row>
</ion-content> -->
<!-- <ion-content padding class="background"> -->
<!-- <div style="background: url('./assets/images/register.jpg');">

  </div> -->
<!-- <p routerLink="/folder/Inbox">Guest Login?</p>  -->

<!-- <div class="row">
        <div class="container">
            <input type="number" [(ngModel)]="mobnumber" class="form-control" placeholder="Phone Number">
            <button class="btn btn-danger" (click)="sendOtp()">Send OTP</button>

        </div>
    </div> -->


<ion-content padding>


    <ion-row class="rowclass">
        <ion-col>
            <img class="logo" src="./assets/images/qbee 3D logo png.png" alt="">
            <!-- <h1 class="heading">QBEE</h1> -->
            <p>Online Delivery & Services </p>
        </ion-col>
    </ion-row>

    <div class="center">
        <div heading-column-ln>



        </div>



        <ion-row>
            <ion-col size="12" routerLink="/folder/Inbox">
                <ion-card>
                    <img src="./assets/images/shopping-final.png" alt="">
                </ion-card>
            </ion-col>
            <ion-col size="12" routerLink="/qbees-services-home">
                <ion-card>
                    <img src="./assets/images/service-final.png" alt="">
                </ion-card>
            </ion-col>
            <ion-col size="12" routerLink="/pharmarcy">
                <ion-card>
                    <img src="./assets/images/Hcare-final.png" alt="">
                </ion-card>
            </ion-col>
        </ion-row>

        <!-- <ion-button (click)="sendOtp()" class="ion-button-class" shape="round" fill="solid" size="large" expand="block">
              Send OTP</ion-button> -->

        <!-- <p style="color: black;margin-top: 20px;">Login in as Guest?</p> -->
    </div>
</ion-content>