ion-menu-button {
    color: var(--ion-color-primary);
}

ion-toolbar {
    --background: #431d12;
}

ion-content {
    --background: #8080801c;
}

ion-menu-button {
    color: white !important;
}

ion-title {
    text-align: center;
    color: white;
    font-weight: bold;
    text-align: center;
}

.cart {
    color: white;
}

.back {
    color: white;
    font-size: 21px;
}

.searchtoolbar {
    padding-left: 13px;
    padding-right: 13px;
}

.card {
    padding: 10px;
    margin: 10px;
}

.topdeals {
    font-weight: bold;
    font-family: poppins;
    margin-left: 14px;
    font-size: 19px;
}