<!-- <ion-header [translucent]="true">

    <ion-toolbar>
        <ion-buttons slot="start">
        </ion-buttons>
        <ion-buttons slot="end">

        </ion-buttons>

        <ion-title>QBEE</ion-title>

    </ion-toolbar>

</ion-header> -->

<ion-content padding>


    <ion-row class="rowclass">
        <ion-col>
            <img class="logo" src="./assets/images/qbee 3D logo png.png" alt="">
            <h1 class="heading">MEDICINES </h1>
            <!-- <p>Online Food Delivery System</p> -->
        </ion-col>
    </ion-row>
    <ion-card routerLink="/english-medicine">
        <p>English Medicine</p>
    </ion-card>
    <ion-card routerLink="/auyrvedic-medicine">
        <p>Ayurvedic Medicine</p>
    </ion-card>
</ion-content>