<ion-header [translucent]="true">

    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon name="chevron-back-sharp" class="back" (click)="back()"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button routerLink="/cart">
                <ion-icon class="cart" name="cart-sharp"></ion-icon>
                <ion-badge color="warning" style="margin-top: -12px;
                font-size: 10px;">0</ion-badge>
            </ion-button>
        </ion-buttons>

        <ion-title>QBEE</ion-title>

    </ion-toolbar>

</ion-header>
<ion-content>
    <h6 class="topdeals">Top Deals Today</h6>
    <ion-grid>
        <ion-row>
            <ion-col size="6" *ngFor="let topDeals of topDeals">

                <div class="card">
                    <img src="{{topDeals.menu_img}}" alt="" style="    height: 89px;">
                    <h4 style="font-size: 15px; margin-top: 8px; text-align: center;    padding-bottom: 0px;">
                        {{topDeals.menu_name}}</h4>
                    <p style="font-weight: bold;color: rgb(10, 150, 10); text-align: center;   margin-bottom: 0rem;">
                        Save 38.00</p>
                    <h6 style=" text-align: center;  padding-bottom: 0px;font-size: 13px;">RS.{{topDeals.actual_price}}.00/- &nbsp;
                        <S style="color: red;">RS.{{topDeals.actual_price}}.00/-</S>
                    </h6>
                    <button class="btn btn-primary " (click)="addtocart(topDeals)" *ngIf="topDeals.deal_cart == 'No'">Add to Cart</button>
                    <ion-row>
                        <ion-col size="2"></ion-col>
                        <ion-col size="10" *ngIf="topDeals.deal_cart == 'Yes'">
                            <button (click)="minus(topDeals)" class="buttonplusminus">
                                <ion-icon name="remove-sharp"></ion-icon>

                            </button>
                            <a class="quantity" style="    margin: 5px;color: black;">{{topDeals.cart_qnty}}</a>
                            <!-- <a class="quantity" style="    margin: 5px;color: black;">{{topDeals.deal_in_cartqty}}</a> -->
                            <button (click)="add(topDeals)" class="buttonplusminus">
                                <ion-icon name="add-sharp"></ion-icon>
                            </button>
                        </ion-col>
                        <!-- <ion-col size="1"></ion-col> -->

                    </ion-row>
                </div>

            </ion-col>

        </ion-row>
    </ion-grid>


</ion-content>