<ion-content padding>


    <ion-row class="rowclass">
        <ion-col>
            <img class="logo" src="./assets/images/qbee 3D logo png.png" alt="">
            <p style="
            font-size: 14px;
            background: none;">Online Delivery & Services </p>
            <!-- <p>Online Food Delivery System</p> -->
        </ion-col>
    </ion-row>
    <ion-card>
        <p>Car Wash & Detailing</p>
    </ion-card>
    <ion-card>
        <p>Dry Cleaning</p>
    </ion-card>
    <ion-card>
        <p>Electricians</p>
    </ion-card>
    <ion-card>
        <p>Plumbers</p>
    </ion-card>
    <ion-card>
        <p>Computer & Laptop Services</p>
    </ion-card>
    <ion-card>
        <p>CCTV Services</p>
    </ion-card>
</ion-content>