ion-card {
    padding: 18px;
    border-radius: 15px;
    background-image: linear-gradient( -45deg, #8a4422 0%, #431d12 100%);
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 0px 0px, rgb(0 0 0 / 14%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 0px 0px 0px;
}

ion-title {
    text-align: center;
    color: white;
    font-weight: bold;
    text-align: center;
}

p {
    text-align: center;
    background-image: linear-gradient( -45deg, #8a4422 0%, #431d12 100%);
    font-size: 18px;
    text-transform: uppercase;
    // margin-top: 13px;
    margin-bottom: 2px;
    color: white;
}

ion-toolbar {
    // --background: #431d12;
    --background: #431d12;
}

.rowclass {
    height: 30%;
    // background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
    // background-image: linear-gradient(-45deg, #e65e85 0%, #431d12 100%);
    // background-image: linear-gradient( -45deg, #5381af 0%, #431d12 100%);
    background-image: linear-gradient( -45deg, #8a4422 0%, #431d12 100%);
    border-bottom-left-radius: 34px;
    border-bottom-right-radius: 35px;
}

.heading {
    text-align: center;
    font-weight: bold;
    color: white;
    // margin-top: 69px;
}

p {
    text-align: center;
    letter-spacing: 2px;
    color: white;
}

.center {
    margin: 8px;
}

[linespace] {
    height: 30px;
}

.ion-button-class {
    // background-image: linear-gradient(-45deg, #e65e85 0%, #431d12 100%) !important;
    background-image: linear-gradient( -45deg, #8a4422 0%, #431d12 100%);
    border-bottom-left-radius: 34px;
    border-bottom-right-radius: 35px;
    width: 100%;
    padding: 20px;
    color: white;
    border-radius: 11px;
    font-size: 17px;
}

.logo {
    width: 202px;
    margin: 0 auto;
    display: block;
    margin-top: 14px;
    margin-bottom: -14px;
}

ion-card {
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 1%) 0px 0px 0px 0px, rgb(0 0 0 / 1%) 0px 1px 0px 0px;
}